body {background-color:#CBCBCB;
      font-style: sans-serif;}
#top {

  padding-top: 60px;
  padding-bottom: 60px;
  text-align: center;
  background-image:radial-gradient(  white , #CBCBCB 55%   );}
h1 {text-align:center; padding-top: 100px;}
.sidebar {
    font-weight: bold;
     width: 10%;
     float: right;
     top: 0;
     left: 0;
  margin-right: 50px
     }
#menu {
  list-style-type: none;
  padding: 0;
  overflow: hidden;
  margin-left: 0px;
  margin-right: 0px;
  background-color: black;
  }

#menulist { float:left;}
 li a{   display: block;
  color: white;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  padding: 16px;
  text-decoration: none;
}

h2 {color:brown;
    padding-top: 100px;
    text-align: center;}
.imgcenter{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;}
p {margin-left:50px;
  text-indent: 1em;
   width:85%;}
table,th, td {margin-left:50px;
             border: 1px solid black;
             border-collapse: collapse;
             }
th,td {padding: 15px}
td {text-align: center}
li,ol {text-align: left}
img {border-radius: 25%}
